.loader1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    z-index: 9999;
    text-align: center;
    left: 0px;
    top : 0px;
    img {
    top: 45%;
    width: 40px;
    position: relative;
    transform: translateY(-45%);
    }
}
