/* Responsive */

@include media-breakpoint-down(lg) {
    .flipp_back {
        .alertmsgbottom {
            padding-top: 0px;
            margin-top: 0px;
        }
        .titledetails {
            padding-top: 5px;
        }
    }
    .subcat {
        padding-left: 0px !important;
    }

    .bottom_chat {
        bottom: 30px;
        right: 30px;
        top: inherit;
    }
    .accommodation_accordion {
        .thumb {
            width: 150px;
        }
        .roomes,
        .pricebox {
            padding-top: 0px;
        }
        .pricebox {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            padding: 3px 0px 5px;

            &::after {
                display: none;
            }
        }
        .price_outer {
            .price {
                font-size: 24px;
            }
        }
    }
    .accommodation_accordion {
        .pricebox {
            .price {
                font-size: 24px;
            }
        }
    }
    .accommodation_tabs_content {
        strong {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0px;
        }
    }
    /* TOURS */
    .tours-wrapper {
        .card {
            .accomodation-img {
                width: 15rem;
            }
            .accomodation-details {
                margin-left: 16rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-link {
        padding: 0.5rem .8rem
    }
    .banner-bg {
        h2 {
            margin-bottom: 50px;
        }
    }
    .modal_outer {
        margin: 0px 0px;
    }
    .itinerary_block {
        .itinerary_left {
            //margin-left: -$leftColumnwidth; 
            display: none;
            &.active {
                margin-left: 0px;
                position: absolute;
                z-index: 9;
                display: block;
            }
        }

        .itinerary_right {
            width: 100%;
            &.active {
                .right_form_click_block {
                    left: $leftColumnwidth;
                }
            }
        }
    }
    .itinerary_filter {
        .filter_poperties {
            .poperties {
                width: 100%;
                margin-top: 10px;
                ul {
                    width: 100%;
                    float: left;
                    &::after {
                        display: block;
                        clear: both;
                    }
                    li {
                        width: 50%;
                        float: left;
                        padding: 0px 10px !important;
                        select {
                            background-position: center right;
                            padding: 2px 0px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }





}

@include media-breakpoint-down(sm) {
    .nav {
        display: block;
        text-align: left;
        padding-top: 15px;
        .nav-item {
            display: block;
        }
    }

    header {
        .navbar-collapse {
            background: rgba(7, 27, 34, 0.9);
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            padding: 5px 15px 15px 15px;
        }
    }
    .social_gplus,
    .social_facebook {
        margin: 5px 0px;
    }

    .bottom_chat {
        right: 20px;
        bottom: 20px;
    }

    .itinerary_block {
        .itinerary_box_main_title {
            font-size: 20px;
        }
        .itinerary_left {
            //margin-left: -$leftColumnwidth; 
            display: none;
            width: $leftColumnwidth;
            &.active {
                margin-left: 0px;
            }
        }
        .itinerary_right {
            width: 100%;
            &.active {
                .right_form_click_block {
                    left: $leftColumnwidth;
                }
            }
        }

        .accommodation {
            .accommodation_info {
                ul {
                    li {
                        .title,
                        .info {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .itinerary_filter {
        .filter_poperties {
            .poperties {
                width: 100%;
                margin-top: 10px;

                ul {
                    &::after {
                        display: block;
                        clear: both;
                        content: '';
                    }
                }
            }
        }
    }

    .itinerary_filter {
        .filter_poperties {
            .poperties {
                ul {
                    li {
                        width: 25%;
                        padding: 0px 10px !important;
                    }
                }
            }
            .filtericons {
                margin: 15px 0px;
            }
        }
    }

    .accommodation_tabs .nav-tabs .nav-item {
        float: left;


    }

    /* TOURS */
    .tours-wrapper {
        .card {
            .accomodation-img {
                width: 100%;
                float: none;
                height: auto;
                margin-bottom: 15px;
            }
            .accomodation-details {
                margin-left: 0;
            }
        }
        .tabs-search-container {
            .nav {
                .nav-item {
                    display: inline-block;
                }
            }
        }
    }

    .transportsfound {
        .flight-header {
            p {
                text-align: left;
            }

        }

    }

}

@include media-breakpoint-down(xs) {
    .fullwidth {
        max-width: 100% !important;
        flex: 100%;
    }

    footer {
        ul {
            text-align: center;
            li.footer_logo {
                width: 100%;
                float: left;
                padding-bottom: 25px;
            }
        }
    }
    .itinerary_filter {
        .filter_poperties {
            .poperties {
                ul {
                    li {
                        width: 50%;
                    }
                }
            }
        }
    }

    .itinerary_page {
        .rating {
            margin-top: 15px;
        }
    }

    .accommodation_tabs .nav-tabs .nav-item {
        float: left;
        width: 100%;
        padding: 4px 0 !important;


    }
    .accommodation_top {
        ul {
            li {
                width: 100%;
                display: block !important;
                padding-bottom: 10px;

            }

        }

    }

    .accommodation_accordion {
        ul.deluxe_room {
            li {
                margin-bottom: 10px;
                strong {
                    min-width: 100%;
                    margin-bottom: 0px;
                }
            }
        }
        .roomes {
            width: 100%;
            margin-top: 15px;
        }
    }
    .accommodation_tabs_content {
        .amenities {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }

    /* TOURS */
    .tours-wrapper {
        .card {
            .border-right {
                border-right: none !important;
            }
        }
    }
}
