@font-face {
    font-family: 'HelveticaNeueLight08';
    src: url('HelveticaNeueLight08.eot');
    src: url('HelveticaNeueLight08.eot') format('embedded-opentype'),
    url('HelveticaNeueLight08.woff2') format('woff2'),
    url('HelveticaNeueLight08.woff') format('woff'),
    url('HelveticaNeueLight08.ttf') format('truetype'),
    url('HelveticaNeueLight08.svg#HelveticaNeueLight08') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('HelveticaNeue.woff') format('woff'), url('HelveticaNeue.ttf') format('truetype'), url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium11';
    src: url('HelveticaNeueMedium11.eot');
    src: url('HelveticaNeueMedium11.eot') format('embedded-opentype'),
    url('HelveticaNeueMedium11.woff2') format('woff2'),
    url('HelveticaNeueMedium11.woff') format('woff'),
    url('HelveticaNeueMedium11.ttf') format('truetype'),
    url('HelveticaNeueMedium11.svg#HelveticaNeueMedium11') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('HelveticaNeue-Bold.woff') format('woff'), url('HelveticaNeue-Bold.ttf') format('truetype'), url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'harabara_maisharabaramaisdemo';
    src: url('harabara_mais_demo-webfont.eot');
    src: url('harabara_mais_demo-webfont.eot?#iefix') format('embedded-opentype'),
    url('harabara_mais_demo-webfont.woff2') format('woff2'),
    url('harabara_mais_demo-webfont.woff') format('woff'),
    url('harabara_mais_demo-webfont.ttf') format('truetype'),
    url('harabara_mais_demo-webfont.svg#harabara_maisharabaramaisdemo') format('svg');
    font-weight: normal;
    font-style: normal;

}
