@font-face {
    font-family: 'ic';
    src: url('../font/ic.eot?576838');
    src: url('../font/ic.eot?576838#iefix') format('embedded-opentype'),
    url('../font/ic.woff2?576838') format('woff2'),
    url('../font/ic.woff?576838') format('woff'),
    url('../font/ic.ttf?576838') format('truetype'),
    url('../font/ic.svg?576838#ic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ic';
    src: url('../font/ic.svg?576838#ic') format('svg');
  }
}
*/

[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-family: "ic";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ic-account_box:before {
    content: '\e800';
}

/* '' */

.ic-account_circle:before {
    content: '\e801';
}

/* '' */

.ic-apps:before {
    content: '\e802';
}

/* '' */

.ic-block:before {
    content: '\e803';
}

/* '' */

.ic-calendar:before {
    content: '\e804';
}

/* '' */

.ic-chat:before {
    content: '\e805';
}

/* '' */

.ic-child_care_white:before {
    content: '\e806';
}

/* '' */

.ic-circle_qustion:before {
    content: '\e807';
}

/* '' */

.ic-clear:before {
    content: '\e808';
}

/* '' */

.ic-create:before {
    content: '\e809';
}

/* '' */

.ic-date_range_white:before {
    content: '\e80a';
}

/* '' */

.ic-direction_car:before {
    content: '\e80b';
}

/* '' */

.ic-directions_bus:before {
    content: '\e80c';
}

/* '' */

.ic-down_up:before {
    content: '\e80d';
}

/* '' */

.ic-edit_block:before {
    content: '\e80e';
}

/* '' */

.ic-event_note:before {
    content: '\e80f';
}

/* '' */

.ic-expand_less:before {
    content: '\e810';
}

/* '' */

.ic-expand_more:before {
    content: '\e811';
}

/* '' */

.ic-explore:before {
    content: '\e812';
}

/* '' */

.ic-facebook:before {
    content: '\e813';
}

/* '' */

.ic-faq:before {
    content: '\e814';
}

/* '' */

.ic-favorite_border:before {
    content: '\e815';
}

/* '' */

.ic-fingerprint:before {
    content: '\e816';
}

/* '' */

.ic-flight:before {
    content: '\e817';
}

/* '' */

.ic-flight_land:before {
    content: '\e818';
}

/* '' */

.ic-flight_takeoff:before {
    content: '\e819';
}

/* '' */

.ic-glob_map:before {
    content: '\e81a';
}

/* '' */

.ic-google_plus:before {
    content: '\e81b';
}

/* '' */

.ic-google_plus_new:before {
    content: '\e81c';
}

/* '' */

.ic-half_star:before {
    content: '\e81d';
}

/* '' */

.ic-linkedin:before {
    content: '\e81e';
}

/* '' */

.ic-local_activity:before {
    content: '\e81f';
}

/* '' */

.ic-local_hotel:before {
    content: '\e820';
}

/* '' */

.ic-location_map:before {
    content: '\e821';
}

/* '' */

.ic-markunread:before {
    content: '\e822';
}

/* '' */

.ic-menu:before {
    content: '\e823';
}

/* '' */

.ic-more_horiz:before {
    content: '\e824';
}

/* '' */

.ic-navigate_after:before {
    content: '\e825';
}

/* '' */

.ic-navigate_before:before {
    content: '\e826';
}

/* '' */

.ic-people_outline_black:before {
    content: '\e827';
}

/* '' */

.ic-person_pin_circle:before {
    content: '\e828';
}

/* '' */

.ic-pintrest:before {
    content: '\e829';
}

/* '' */

.ic-place:before {
    content: '\e82a';
}

/* '' */

.ic-search:before {
    content: '\e82b';
}

/* '' */

.ic-setting:before {
    content: '\e82c';
}

/* '' */

.ic-sms:before {
    content: '\e82d';
}

/* '' */

.ic-sort:before {
    content: '\e82e';
}

/* '' */

.ic-star:before {
    content: '\e82f';
}

/* '' */

.ic-star_border:before {
    content: '\e830';
}

/* '' */

.ic-star_half:before {
    content: '\e831';
}

/* '' */

.ic-twitter:before {
    content: '\e832';
}

/* '' */

.ic-up_down:before {
    content: '\e833';
}

/* '' */

.ic-with-flight:before {
    content: '\e834';
}

/* '' */

.ic-without-flight:before {
    content: '\e835';
}

/* '' */

.ic-you_tube:before {
    content: '\e836';
}

/* '' */
